<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{css/main.css}"/>
	<script th:src="@{js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{js/link.js}"></script>
	<title>HyperRobot</title>
</head>
<body>
	<div>【index】</div>
		<div class="headerLinkMenu">
		<button class="link_solo">ソリティア</button>
		<button class="link_arena">通信対戦</button>
		<button class="link_user">ユーザ</button>
	</div>
	<div>HyperRobot タイトル画面</div>
	<div></div>
	<img th:src="@{/jpg/title.jpg}"/>
</body>
</html>